{
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "ignorePatterns": ["node_modules/*.js", "public/*.js"],
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error", {}],
    "no-param-reassign": "off"
  }
}