.contact {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__title {
  color: var(--text-alternative);
  font-size: 50px;
  position: relative;
  opacity: 0;
  text-transform: uppercase;
}

.contact__title_animation {
  animation-name: moveTitle;
  animation-duration: 1s;
  opacity: 1;
}

.contact__title::after {
  content: "";
  display: block;
  margin-left: 18px;
  width: 80%;
  height: 5px;
  background-color: var(--text-alternative);
}

.contact__wrapper {
  background-color: var(--bg-section);
  margin-top: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.contact__wrapper_animation {
  animation-name: moveWrapper;
  animation-duration: 1s;
  opacity: 1;
}

.contact__form {
  margin-top: 100px;
  margin-bottom: 100px;
}
